.body-div{
    background-image: url(/public/herosection.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:570px;
    width: 100%;
    border-radius: 19px;
    display: flex;
    padding: 0px 70px;  
  }