@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins" , sans-serif;
}
.footer-links-div{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin:1rem;
    color: #000000;
    gap: 18px;
}
.body-div{
    background-image: url(/public/herosection.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:30vh;
    width: 100%;
    border-radius: 19px;
    display: flex;
    padding: 0px 70px;  
  }
.footer-links{
 display: flex;
 gap: 230px;
 text-align: left;
 flex-direction:row;
 justify-content: center;
 margin-bottom: 2rem;
}
.footer-images{
    background-image: url(/public/Artboard2.png);
    height: 4vh;
    width: 167px;
}
a{
    text-decoration: none;
    color: #000000;
    text-align: left;
}
.footer-links-div h4{
    font-size:var(--header-font-size);
    line-height:15px;
    margin-bottom: 0.5rem;
    font-family: "Poppins" , sans-serif;
    text-align: left;
}
.footer-links-div p{
font-size: var(--text-font-size);
line-height: 15px;
margin:  0.5rem 0;
cursor: pointer;
}
.footer-links-div a{
    text-decoration: none;
    text-align: left;
}
.footer-below{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    margin-top: 0.2rem;
    align-items: center;
    justify-content: center;
}
.footer-below-links{
    display: flex;
    flex-direction: row;
}
.footer-below-links p{
    font-size: var(--text-font-size);
    line-height: 15px;
    margin-left: 2rem;
    color: #000000;
    font-weight: 200;
}
.footer-copyright{
    font-size: var(--text-font-size);
    line-height: 15px;
    font-weight: bold;
}