@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --text-header-color: #000000;
    --text-color: #f3f3f3;
    --primary-text-color: #A7A5A5;
    --button-background-image: linear-gradient(to right, #0075FF , #5AA6FF);
    --background-color: #F4F4F4;
    --bacground-image: url(../img/Artboard.png);
    --input-color: #f3f0ff;
    --border: #000000;
    --placeholder-color: #A7A5A5;
    --header-font-size: 34px;
    --text-font-size: 13px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}